<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
  </div>
  <div class="field form-group">
    <%= f.text_area :description, class: 'form-control', placeholder: 'Description'  %>
  </div>
  <div class="field form-group">
    <%= f.label :tags %><br>
    <%= f.select :tags, Label.all.collect {|p| [p.name, p.id] }, {}, { multiple: 'multiple', id: 'item-tags'} %>
    <div class="text-right">
      <%= link_to new_label_path(item: @item), remote: true, class: "btn btn-default btn-sm" do %>
        <i class="glyphicon glyphicon-plus"></i> Create New Tag
      <% end %>
    </div>
  </div>
 
  
  <div class="field form-group form-inline">
    <%= f.label :duedate %><br>
    <%= f.datetime_select :duedate, { ampm: true, order: [:day, :month, :year]}, {class: "form-control"} %>
  </div>
  <div class="field form-group">
    <%= f.label :user_id %><br>
    <%= f.select :user_id, User.all.collect {|p| [p.email, p.id] }, {}, {class: 'form-control'} %>
  </div>
  <div class="field form-group">
    <%= f.label :status %><br>
    <%= f.select :status, Item.statuses.keys, {}, {class: 'form-control'} %>
  </div>
  <div class="actions">
    <%= f.submit :Submit, class: 'btn btn-success' %>
  </div>
<% end %>
